go 1.21

use (
	./server/nvm-gocore
    ./server/nvm-sqlxe
    ./server/trident/trident-data
	./server/trident/trident-core
	./server/trident/trident-server
	./server/algocrunch/algocrunch-core
	./server/algocrunch/algocrunch-server
)
